=render "layouts/application.html.erb" do
	%nav.navbar.navbar-default
		.container-fluid
			.navbar-header
			%a.navbar-brand{href:"#"} 
				Politota
				-if @troll.present?
					="/#{@troll.login}"
			.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li=link_to 'users', app_index_path
				-if @troll.present?
					%ul.nav.navbar-nav
						%li=link_to 'Analyzer', app_analyzer_path(@troll)
				

			

	=yield
